body {
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
}

#content {
  width: 90%;
  padding: 5%;
  padding-bottom: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  margin: auto;
  justify-content: space-between;
  height: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.background {
  margin-top: auto;
  background-image: url("./images/backgroundImage.jpg");
  background-size: cover;
  flex-grow: 1;
  width: 100%;
  height: 30vh;
  z-index: -100;
}

#mainContent {
  flex-grow: 1;
  margin-bottom: 5rem;
}

#temp {
  font-size: 6rem;
  color: #f06543;
  font-weight: 500;
}

label {
  margin-left: 0.5rem;
  opacity: 0;
}

label.active {
  opacity: 1;
  transition: 1.55s;
}

input {
  background-color: #f06543;
  border: none;
  border-radius: 0.5rem;
  height: 2rem;
  width: 80%;
  max-width: 20rem;
  padding: 0 0.5rem;

  color: white;
  margin-top: 0.1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

input::placeholder {
  color: white;
}

input:focus {
  outline: none;
}

#secondaryContent {
  flex-grow: 1;
}

form {
  display: flex;
  flex-direction: column;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 2rem;
  color: #f06543;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 2rem;
}
